header, footer {
    color: white;
    background-color: #005fff;
    text-align: center;
    padding: 20px;
    float:left;
    width:100%;
}

#current-weather{
    float:left;
    width:40%;
}

#fav{
    float: left;
    width:15%;
    border: solid black;
}

#fav h3, #extra h3, #location{
    text-align: center;
}

#extra{
    float: left;
    width:15%;
    border: solid black;
}

#important{
    width: 50%;
    height: 15%;
    margin: 0 auto;
    text-align: center;
    padding-top:0;
}

#hl{
    margin: 0 auto;
    width:20%;
    text-align: center;
}

#favbut{
    text-align: center;
    margin-bottom:10px;
}

#location{
    margin-bottom: 2px;
    margin-top:0px;
}

img, #temp{
    display: inline-block;
}

img{
    width: 100px;
    height:70px;
}

#temp{
   padding-bottom:20px;
   font-size: 400%;
}

#high, #low, #di{
    display: inline-block;
    margin: 0 auto;
}

#day {
margin-bottom:0px;
text-align: center;
margin-top:30px;
}

#bDay{
    border-top:solid;
    float:left;
    width:100%;
}
#bDay h1, #peeps{
    text-align: center;
    list-style-type:none;
}

#peeps{
    margin:0 auto;
    width:50%;
    padding: 0;
}

body{
    background-color: rgba(74, 160, 246, 0.66);
}
main{
   
    float:left;
    width:100%;
    margin:0 auto;
    margin-left:15%;
    height:600px;
}









