header, footer {
    color: white;
    background-color: #005fff;
    text-align: center;
    padding: 20px;
}

.main-div {
    padding: 20px;
}

#current-weather{
    border: solid black;

    margin: 0 auto;
}

#favorites{
    border:dotted 2px blue;
}

th, td{
 border: solid;
}

table{
    border: solid;
}

#extra h2{
    text-align: center;
}