html{
    border: solid;
    border-color:blue;
    background-color:grey;
    height:100%;
}


body{
    min-height: 99%;
    width:99%;
    border: solid;
    background-color:orangered;

}

.parent{
    border: solid;
    background-color: red;
    position: relative;
    height:auto;
}

.child{
    border: solid;
    background-color: orange;
    position:absolute;
    top: 0%;
    left: 0%;
}

p{
    width:50%;
    margin:0 auto;
}

@media only screen and (min-width: 1000px) {
    .clearfix{
        width:75%;
        background:black;
        margin:0 auto;
    }
  }
